/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/framework/sessions/J6ZI8kTO7K0Tves1nCsuqnTU2yZRJL6evnWBjxwg
composer.lock
.env.example
.env.example
*.example
*.example
composer.lock
