.chili-red {
    color: #a71e4e; /* Chili Red Color */
    font-weight: bold;
}
.grand_parent {
    width: 100%;
    height: -webkit-fill-available;
    background: url("/assets/bg-01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    z-index: -9;
}

.login-button {
    font-weight: bold;
    color: white;
    background-color: #a71e4e;
    /* Matching the heading color */
    border-color: #a71e4e;
    border-radius: 0.375rem;
    text-decoration: none;
}

.login-button:hover{
  background: linear-gradient(
    212deg,
    rgb(79, 10, 26, 255) 0%,
    rgba(140, 22, 53, 255) 100%);
}

.header_parent_div {
    padding-block: 33px;
    background: transparent;
    position: relative;
    z-index: 9;
}

.banner_main h1 {
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    color: #a71e4e;
}

.banner_right_img {
    width: auto;
    height: auto;
    /* z-index: 1; */
}
